html{
    background-image: url("/img/灰色.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: 999;
}

.container{
    display: flex;
    justify-content: center;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title-container{
    padding-left: 150px;
}
.img-size{
    display: flex;
    justify-content: center;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}